# Training Configuration
output_dir: "logs/training_run"
num_train_epochs: 100
learning_rate: 1e-4

# Batch size configuration
per_device_train_batch_size: 4
per_device_eval_batch_size: 4
dataloader_num_workers: 8
dataset_num_proc: 8
dataloader_pin_memory: true

# Training optimizations
optim: "adamw_8bit"
torch_compile: true
lr_scheduler_type: cosine
warmup_ratio: 0.01
gradient_accumulation_steps: 16
activation_offloading: false

# SimPO specific variables
beta: 10
gamma_beta_ratio: 0.5
max_prompt_length: 128
max_length: 512
l0_act_coeff: 0
l1_act_coeff: 1e-2
l2_act_coeff: 0
log_threshold_lr_multiplier: 1e2  # Only used when use_jump_relu is true
penalty_warmup_ratio: 0.0

# Additional training parameters
save_steps: 10000
logging_steps: 10
save_total_limit: 2
eval_strategy: "steps"
eval_epoch_fraction: 50 # non trainer argument needs to be popped (This is a ratio)
load_best_model_at_end: false
remove_unused_columns: false
